.header {
    float: right;
    img {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .basket-icon-container {
        position: relative;
        text-align: center;
        color: black;
    
        #qty-centered {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
}


.bottom-border {
    border-bottom: 1px solid $color-grey-dark;
}